{% if latest_threads %}
    <ul>
    {% for thread in latest_threads %}
        <li>
            <div>
                <a href="{% url 'boards:thread' thread.entry_id %}">
                    #{{ thread.entry_id }}: {{ thread.topic }}<br>
                    <div>
                        {% if thread.file_extension == "img" %}
                            <img src="{{thread.file.url}}" alt="{{thread.topic}}" width="500" height="500">
                        {% elif thread.file_extension == "video" %}
                            <video width="320" height="240" controls>
                                <source src="{{ thread.file.url }}">
                            </video>
                        {% endif %}
                        <br>
                    </div>
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No threads on this board.</p>
{% endif %}